<div class='container'>
	<div class='row'>
		<div class='col-sm-4 col-sm-offset-4'>
			<h1>Reset Password</h1>

			<%= form_tag password_resets_path, :method => :post do %>
			  <div class="form-group">
			    <%= label_tag :email %>
			    <%= text_field_tag :email, params[:email], class: 'form-control' %>
			  </div>
			  <div class="forn-group"><%= submit_tag "Reset Password", class: 'btn btn-info' %></div>
			<% end %>
		</div>
	</div>
	
</div>