<div class="container">
<div class-'row idea_post'>
<div class='col-md-8'>
 <div class="well">
  <h1>Post Your Startup Idea or Project</h1>

<%= render 'form' %>
</div></div>
<div class='col-md-3'></div>
</div></div>