<div class="container">
	<div class='row ideas-main'>
		<div class='col-sm-5 hidden-xs ideas-tips'>
			<div class='row'>
					<h2 class='text-center'>Startup Ideas</h2>
					<% @ideas.each do |idea| %>
				    <div class="col-sm-12">
				    	<h4><%= link_to(idea.title, idea) %></h4>
							<p><%= truncate(idea.description, length: 200, separator: ' ') %></p>
				    </div>
			    <% end %>	
				</div>
		</div>
		<div class='col-sm-7'>
			<div class="well">
				<h2>Post Your Startup Idea or Project</h2>
						<%= render 'form' %>
			</div>
		</div>
	</div>
</div>