<div class="container">
<div class-'row project_post'>
<div class='col-md-1'></div>
<div class='col-md-10'>
 <div class="well">
<h2>Editing Post: <%= @trend.title %></h2>

<%= render 'form' %>
</div></div>
<div class='col-md-1'></div>
</div></div>