<div class='container'>
<div class='row'>
<div class='error_message'>
<% if object.errors.any? %>
  <header>
    <h3>
      Oops! The <%= object.class.name.humanize.downcase %> could not be saved.
    </h3>
    <h4>
      Please correct the following <%= pluralize(object.errors.count, "error") %>:
    </h4>
  </header>
  <ul>
    <% object.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>
</div>
</div>
</div>

