<div class="container">
<div class-'row project_post'>
<div class='col-md-1'></div>
<div class='col-md-10'>
 <div class="well">
<h1>Editing Project: <%= @project.name %></h1>

<%= render 'form' %>
</div></div>
<div class='col-md-1'></div>
</div></div>