<div class='container'>
	<div class='row project-new'>
		<div class='col-sm-8'>
			<div class="well">
				<h2>Post Your Project</h2>
				<%= render 'form' %>
			</div>

		</div>
		<div class='col-md-1'></div>
		<div class='col-md-3 col-sm-4 hidden-xs'>
			<div class='row recent-project'>
				
			</div>	
		</div>
	</div>
</div>