<div class='container'>
	<div class='row project-new'>
		<div class='col-sm-8'>
			<div class="well">
				<h2>Post Your Project</h2>
				<%= render 'form' %>
			</div>

		</div>
		<div class='col-md-1'></div>
		<div class='col-md-3 col-sm-4 hidden-xs'>
			<div class='row recent-project'>
				<h2>New Projects</h2>
				<% @projects.each do |project| %>
					<div class='col-sm-12'>
						<div class="thumbnail project">
							<%= link_to project do %>
								<%= image_tag project.screenshot.url %>
							<% end %>
						</div>
					</div>
				<% end %>
			</div>	
		</div>
	</div>
</div>