/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */

 @import "bootstrap";

 body{
  margin: 0;
 }
 .error_message{
   ul li{
    color: red;
   }
   header h3{
    color: #BA0B0B;
   }
   header h4{
    color: green;
   }
 }
 main{
  margin-top: 75px;
 }
ol li{
  list-style-type: square;
  font-weight: bolder;
  color: #005500;
}
.fa-fa-cubes{
  color: green;
}
.navbar{
  background: #eee;
  border-bottom: 3px solid #E0DEDE;
}

// .navbar-collapse:hover{
//   background: red;
// }
footer{
  width: 100%;
  min-height: 200px;
  // background: #eee;
  margin-bottom: 0;
  border-top: 3px solid #eee;
}
