/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require social-share-button
 *= require_self
 *= require font-awesome
 */

 @import "bootstrap";

 * {
  margin: 0;
}
html, body {
  margin:0;
  padding:0;
  height: 100%;
}
section{
  margin-top: 50px;
  background: gray;
  height: 50px;
}
section p{
  padding: 15px 0 10px 0;
  color: white;
}

// main{
//   min-height: 100%;
//   height: auto !important;
//   height: 100%;
//   margin: 0 auto -155px; /* the bottom margin is the negative value of the footer's height */
// }
 .error_message{
   ul li{
    color: red;
   }
   header h3{
    color: #BA0B0B;
   }
   header h4{
    color: green;
   }
 }
 main{
  min-height:100%;
  position:relative;
  height: auto !important;
  height: 100%;
  margin-top: 20px;
  padding-bottom: 50px;
 }
ol li{
  list-style-type: square;
  font-weight: bolder;
  color: #005500;
}
.fa-fa-cubes{
  color: green;
}
.navbar{
  background: #eee;
  border-bottom: 3px solid #E0DEDE;
}

// .navbar-collapse:hover{
//   background: red;
// }
footer, .push {
clear: both;
height: 4em;
}

footer{
  width: 100%;
  height: 250px;
  background: #eee;
  margin-bottom: 0;
  border-top: 3px solid #eee;
  clear: both;
  bottom: 0;
  left: 0;
}
footer a:link{
  color: #77B5A8;
}
footer a:visited {
  color: #77B5A8;
}
footer a:hover{
  color: #807A7E;
}
footer a:active {
  color: #BF526A;
}
.paginate{
  margin-top: 30px;
  text-align: center;
  font-size: 1.1em;
  color: #005500;
}
.paginate:active{
  color: red;
}
.paginate:hover{
  color: red;
}
section ul{
  padding-top: 10px;
  font-size: 1.2em;
  
}
.nav > li > a {
  color: white;
}
