/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require social-share-button
 *= require_self
 *= require font-awesome
 */

 @import "bootstrap";
 @import "lightbox";
 @import "pages";
 @import "custom";

 * {
  margin: 0;
}
html, body {
  margin:0;
  padding:0;
  height: 100%;
}
.navbar-inverse .navbar-nav > li > a{
  color: #050505;
}
.navbar-inverse .navbar-nav > li > a:hover{
  color: #77B5A8;
  font-size: 1.05em;
}
.navbar-inverse .navbar-nav > .open > 
a:hover, .navbar-inverse .navbar-nav > 
.open > a:focus {
  background-color: #E71E1E;
}
article{
  margin-top: 50px;
}

.well{
  background-color: #f2f9fd;
}


// section{
//   margin-top: 50px;
//   background: gray;
//   height: 50px;
// }
// section p{
//   padding: 15px 0 10px 0;
//   color: white;
// }

// main{
//   min-height: 100%;
//   height: auto !important;
//   height: 100%;
//   margin: 0 auto -155px; /* the bottom margin is the negative value of the footer's height */
// }
 .error_message{
   ul li{
    color: red;
   }
   header h3{
    color: #BA0B0B;
   }
   header h4{
    color: green;
   }
 }
 .main{
  width: 100%;
  min-height:100%;
  position:relative;
  left: 0;
  right: 0;
  height: auto !important;
  height: 100%;
  margin-top: 20px;
  padding-bottom: 50px;
 }
ol li{
  list-style-type: square;
  font-weight: bolder;
  color: #005500;
}
.fa-fa-cubes{
  color: green;
}
.navbar {
  background: white;
  border-bottom: 3px solid white;
}
.navbar-inverse{
  .navbar-brand{
      color:#fff;
      font-size: 30px;
      padding: 20px;
      font-weight: 900;
      font-family: 'Hobo Std';
      text-shadow: 2px 00 #46b8da, -2px 0 0 #46b8da, 0 2px 0 #46b8da, 0 -2px 0 #46b8da, 1px 1px #46b8da, -1px -1px 0 #46b8da, 1px -1px 0 #46b8da, -1px 1px 0 #46b8da;
    }
}
.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
  background-color: #46b8da;
}
.navbar-inverse .navbar-toggle {
  border-color: #46b8da;
}

// footer, .push {
// clear: both;
// height: 4em;
// }

footer{
  width: 100%;
  // height: 100%;
  // height: 250px;
  background: #c3e2f4;
  margin-bottom: 0;
  border-top: 3px solid #eee;
  clear: both;
  bottom: 0;
  left: 0;
  .bottom{
    margin: 40px 0;
    .footer-menu > ul{
      list-style-type: none;
      a{
        color: #46b8da;
      }

    }
  
  }
  
}
footer a:link{
  color: #46b8da;
}
footer a:visited {
  color: #d9534f;
}
footer a:hover{
  color: #fff;
}
footer a:active {
  color: #d9534f;
}
.last-bottom{
  width: 100%;
  background-color: #46b8da;
  color: #ddd;
  font-size: 18px;
  p{
    padding-top: 30px;
    padding-bottom: 20px;
  }
  a{
    color: white;
  }
}

.paginate{
  margin-top: 30px;
  text-align: center;
  font-size: 1.1em;
  color: #005500;
}
.paginate:active{
  color: red;
}
.paginate:hover{
  color: red;
}
section ul{
  padding-top: 10px;
  font-size: 1.2em;
  
}
section .nav > li > a {
  color: white;
}

@-moz-document url-prefix() {
    fieldset {
        display: table-cell;
    }
}




// @media(max-width:1030px) {

//     footer {height: 380px}

// }
// @media(max-width:767px) {

//    footer {background: white}
// }
// @media(max-width:480px) {

//    footer {background: #eee; height: 400px}
   
// }
// @media(max-width:550px) {

//     section {height: 100px}

// }

// @media(max-width:550px) {

//     .logo {display: none}
//     .touch {display: none}

// }

/* Small devices (tablets, 768px and up) */
// @media (min-width: @screen-sm-min) { 
// footer{
//   background: #fff} 
// }

// Medium devices (desktops, 992px and up)
// @media (min-width: @screen-md-min) { 
// footer{
//   background: #FFF} 
// }

