@import "bootstrap";

// NAV
.has-success .form-control {
  border-color: #46b8da;
}
// IDEAS
.idea{
	height: auto;
	
}
.ideas-h1 h1{
	color: #46b8da;
	font-family: "Shift", sans-serif;
	font-weight: 900;
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 35px;
	text-align: center;
}
.idea a{
	color: #46b8da;
}
.ideas-main{
	margin-top: 40px;
	.ideas-tips{
		margin-top: 2px;
		h2{
			color: #46b8da;
			font-family: "Shift", sans-serif;
			font-weight: 900;
		}
	}
	.well h2{
		color: #d9534f;
		font-family: "Shift", sans-serif;
		font-weight: 900;
		margin-bottom: 20px;
		text-align: center;
	}
}
@media(max-width:780px) {

   .ideas_post {display: none}
   
}

// Jobs

.job_home{
	// border: 2px solid #eee;
	margin-top: 30px;
	a{
		color: #46b8da;
	}
}
.job_top{
	padding: 10px 0 10px 0;
	// border-bottom: 1px solid #eee; 
}

.job_level{
	padding: 10px 0 10px 0;
	// border-top: 1px solid #eee; 
}
.new-job{
	margin-top: 30px;
	h1{
		color: #46b8da;
		font-size: 40px;
		font-weight: 900;
		font-family: "Shift", sans-serif;
		text-align: center;
		padding-bottom: 20px;
	}
}

@media(max-width:480px) {

   .job_top {display: none}
   .ads {display: none}
}

@media(max-width:880px) {

   .job_top {display: none}
   
}

// TRENDS

.tips span{
	font-size: 1.3em;
}

.tips h1{
	font-size: 2.9em;
	color: #d9534f;
}
.tips a{
	color: #46b8da;
}
.insight a{
	color: #46b8da;
}

// PROJECTS
.project_post{
	width: 100%;
	height: 100%;
	border-bottom: 3px solid #eee;
	border-radius: 5px;
}
article{
	width: 100%;
	border-bottom: 2px solid #eee;
	float: right;
	overflow: auto;
	
}
.project-h1 h2{
	color: #d9534f;
	font-family: "Shift", sans-serif;
	font-weight: 900;
	margin-bottom: 20px;
	float: right;
}
#project_follower{
	width: 90%;
	height: 200px;
	float: right;
	overflow: auto;
	border-top: 2px solid #eee;
}
.project_show{
	height: auto;
}
.review_comment{
	
	height: 250px;
	// float: right;
	overflow: auto;
	border-top: 2px solid #eee;
}
.project_wrap2{
	height: 650px;
	// overflow: auto;
	//border-top: 2px solid #eee;
}
.project_wrap2 a{
	color: #46b8da;
}
.project-new{
	margin-top: 40px;
	h2{
		color: #d9534f;
		text-align: center;
		font-weight: 900;
	}

	.recent-project h2{
		color: #46b8da;
		font-weight: 900;
	}
}

@-moz-document url-prefix() {
    fieldset {
        display: table-cell;
    }
}

// USERS

.user-top{
	background: #46b8da;
	margin: 30px auto 0;
	.user-top-content{
		width: 90%;
		margin: 30px auto;
	}
	.img-profile img{
		border-radius: 50%;
		padding: 20px 0;
	}
	kbd{
		margin: 10px 2px;
		padding: 4px;
		background-color: #d9534f;
		color: white;
	}
}

.tophead{
  text-align: center;
  font-weight: bolder;
  h2{
  	color: #46b8da;
	font-size: 35px;
	font-family: "Shift", sans-serif;
	font-weight: 900;

  }
 }
.user_main{
	margin-bottom: 0;
	background: #f2f9fd;
	border: 4px solid #f2f9fd;
	.nav-tabs > li > a {
		color: #46b8da;
	}
	.nav-tabs > li > a:hover{
		color: #ddd;
		background-color: #d9534f;
	}
	.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
		color: #ddd;
		background-color: #d9534f;
	}
}
#content-header{
	h2{
		color: #d9534f;
		font-size: 30px;
		font-family: "Shift", sans-serif;
		font-weight: 900;

	}
	p{
		color: #46b8da;
		font-size: 16px;
		font-family: "Shift", sans-serif;
		font-weight: 400;

	}
	.form-control{
		background-color: #DCEDF2;
		color: red;
		height: 40px;
		border: 1px solid #f4e2e2;
	}
}
.topimg{
	.thumbnail {
	  display: block;
	  padding: 3px;
	  margin-bottom: 0;
	  line-height: 1.428571429;
	  background-color: white;
	  border: 0 solid white;
	  -webkit-transition: all 0.2s ease-in-out;
	  -o-transition: all 0.2s ease-in-out;
	  transition: all 0.2s ease-in-out;
	  height: 150px;
	}
}
.reg-img{
	margin-top: 50px;
}
.user_main_left{
	background: #f2f9fd;
	border: 4px solid #f2f9fd;
}

.user_main_right{
	background: #f2f9fd;
	border: 4px solid #f2f9fd;
	
}

.profiles{
	padding: 10px 30px;
}
.skill_line{
	border-bottom: 2px solid gray;
}


aside .well a:link{
	color: #46b8da;
}

aside, .well a:hover{
  color: #d9534f;
}

aside, .well a:active{
	color: #d9534f;
}
aside, .well a:visited{
  color: #d9534f;
}
.contact-main{
	width: 100%;
	height: 100%;
	margin-top: 10px;
	h2{
		color: #46b8da;
		font-family: "Open Sans", sans-serif;
		font-size: 2em;
		font-weight: 900;
		padding-bottom: 14px;
	}
	.contact-contact{
		height: 450px;
		margin-bottom: 30px;
	}
	.contact-map{
		height: 450px;
		margin-bottom: 30px;
		
		#map { position:absolute; top:0; bottom:0; width:100%; height: 430px; }
	}
}

// SESSION
.main-session{
	margin-top: 40px;
	header{
		margin-top: 80px;
		h1{
			color:#46b8da;
			font-size: 35px;
			font-family: "Shift", sans-serif;
			font-weight: 900;

		}
	}
}
