// Place all the styles related to the ideas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap";

.idea_post{
	border: 3px solid #eee;
	border-radius: 5px;
}

.ideas_show{
	height: 700px;
	overflow: auto;
	//border-top: 2px solid #eee;
}