// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap";
// .ico{
//   height: 500px;
// }

.project_post{
	width: 100%;
	height: 100%;
	border-bottom: 3px solid #eee;
	border-radius: 5px;
}
article{
	width: 100%;
	border-bottom: 2px solid #eee;
	float: right;
	overflow: auto;
	
}
#project_follower{
	width: 90%;
	height: 200px;
	float: right;
	overflow: auto;
	border-top: 2px solid #eee;
}
.project_show{
	height: 700px;
}
.review_comment{
	
	height: 250px;
	// float: right;
	overflow: auto;
	border-top: 2px solid #eee;
}
.project_wrap2{
	height: 750px;
	// overflow: auto;
	//border-top: 2px solid #eee;
}