// Place all the styles related to the Trends controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

 @import "bootstrap";

.tips span{
	font-size: 1.3em;
}

.tips h1{
	font-size: 2.9em;
	color: #77B5A8;
}
.tips a{
	color: #E68EA3;
}
.insight a{
	color: #77B5A8;
}

