<div class='container'>
<div class='row'>

  <h3>Checkins for <%= link_to(@idea.title, @idea) %></h3>
<% if @checkins.any? %>
<% @checkins.in_groups_of(3) do |group| %>
<div class='row'>
<% group.each do |checkin| %>
<% if checkin %>
<div class='col-xs-12 col-sm-6 col-md-4'><br><br>
<div class='row'>
<div class='col-md-12'>
<div class='row'>
<div class='col-md-4'>
	 <%= profile_image_for(checkin.user, size: 70) %><br>
	 

</div>
<div class='col-md-8'>
	<%= checkin.skills %><br>
        <%= checkin.comment %></div>
</div>
</div>
</div>
</div>
<% end %>
<% end %>
</div>
<% end %>
<% end %>
</div>
</div>





