<div class='container'>
<div class='row'>
<header id="content-header">
  <h1>Checkins for <%= link_to(@idea.title, @idea) %></h1>
</header>
  <% @checkins.each do |checkin| %>
  <div class='col-md-1'>
      <%= profile_image_for(checkin.user, size: 35) %>
      </div>
    <div class='col-md-6'>
    <%= checkin.skills %><br>
        <%= checkin.comment %></div>


  <% end %>
</div>
</div>
