<footer>
<div class='container'>
<br>
<div class='bottom'>
<div class='row '>
<div class='col-sm-6 col-xs-6 col-md-2 logo'>
<br><br>
	<p><% if current_user %>
    <%= link_to ' ', current_user, class: 'navbar-brand fa fa-cubes fa-4x' %>
    <% else %>
      <%= link_to ' ', root_path, class: 'navbar-brand fa fa-cubes fa-4x' %><% end %></p>
</div>
<div class='col-sm-6 col-xs-6 col-md-3 contact_us'>
<h3>Contact us!</h3>

<address>
  <strong>AppCubator</strong><br>
  12800 Harrisglenn Drive<br>
  Austin, TX 78753<br>
  <abbr title="Phone">P:</abbr> (240) 716-9907<br>
  <a href="mailto:app@app-cubator.com">app@app-cubator.com</a>
</address>

	
</div>
<div class='col-sm-6 col-xs-6 col-md-3 connect'>
	<h3>Connect with us!</h3>
					<p>Don't hesitate to connect with us<br> on your favourite social networks...</p>
					<a href = "https://linkedin.com/in/saidmaadan" target="_blank"><i class="fa fa-linkedin fa-2x"></i></a>
					<a href = "https://facebook.com/saidmaadan" target="_blank"><i class="fa fa-facebook fa-2x"></i></a>
					<a href = "https://github.com/saidmaadan" target="_blank"><i class="fa fa-github fa-2x"></i></a>
					<a href = "https://twitter.com/saidmaadan" target="_blank"><i class="fa fa-twitter fa-2x"></i></a>
					<a href = "https://youtube.com/saidmaadan" target="_blank"><i class="fa fa-youtube fa-2x"></i></a>
					<a href = "https://dribbble.com/saidmaadan" target="_blank"><i class="fa fa-dribbble fa-2x"></i></a>
					<a href = "https://google.com/saidmaadan" target="_blank"><i class="fa fa-google-plus-square fa-2x"></i></a>

</div>
<div class='col-sm-6 col-xs-6 col-md-4 touch'>
	<h3>Get in touch...</h3>
				<p>Have a question about a particular startup project or idea, just curious to know our process, or how the whole system work generally? Drop us a note or give us a call; we’re happy to answer all your questions --></p></div>
</div>
</div>
<div class="row copy">
<div class="col-md-2"></div>
<div class="col-sm-10 col-xs-12 col-md-8">
  	<div class='copy'><span>&copy; 2014 AppCubator.</span> All rights reserved. Developed By <a href = "http://maadan.me" target="_blank">Said Maadan</a>&nbsp;&nbsp; Powered By <a href = "http://inventivelabs.co" target="_blank">Inventive Labs</a></div></div>
<div class="col-md-2"></div></div>
</div>
</div>

</footer>
