<footer>
	<div class='container'>
		<div class='bottom'>
			<div class='row '>

				<div class='col-sm-3 col-xs-6 col-md-2 contact_us'>
					<h3>Contact us</h3>

					<address>
					  <strong>Dev Konnect</strong><br>
					  12800 Harrisglenn Drive<br>
					  Austin, TX 78753<br>
					  <abbr title="Phone">P:</abbr> (240) 716-9907<br>
					  <a href="mailto:app@app-cubator.com">hello@dkonnect.com</a>
					</address>				
				</div>

				<div class='col-sm-3 col-xs-6 col-md-3 connect'>
					<h3>Connect with us!</h3>
					<p>Don't hesitate to connect with us<br> on your favourite social networks...</p>
					<a href = "https://www.linkedin.com/company/inventtive" target="_blank"><i class="fa fa-linkedin fa-2x"></i></a>
					<a href = "https://www.facebook.com/inventtive" target="_blank"><i class="fa fa-facebook fa-2x"></i></a>
					<a href = "https://github.com/Inventivelab" target="_blank"><i class="fa fa-github fa-2x"></i></a>
					<a href = "https://twitter.com/saidmaadan" target="_blank"><i class="fa fa-twitter fa-2x"></i></a>
					<a href = "https://youtube.com/saidmaadan" target="_blank"><i class="fa fa-youtube fa-2x"></i></a>
					<a href = "https://dribbble.com/saidmaadan" target="_blank"><i class="fa fa-dribbble fa-2x"></i></a>
					<a href = "https://google.com/saidmaadan" target="_blank"><i class="fa fa-google-plus-square fa-2x"></i></a>

				</div>
				<div class='col-sm-3 col-xs-12 col-md-3 touch'>
					<h3>Get in touch...</h3>
								<p>Have a question about a particular startup project or idea, just curious to know our process, or how the whole system work generally? Drop us a note or give us a call; we’re happy to answer all your questions --></p></div>
				</div>
				<div class='col-sm-3 col-xs-12 col-md-4 logo'>

				</div>
			</div>
		</div>
	</div>
</footer>
<div class='last-bottom'>
	<div class='container'>
		<div class="row last">
  		<div class='copy text-center'>
  			<p><span>&copy; 2014 - 2015 Dev-Konnect.</span> All rights reserved. <!-- Developed By <a href = "http://maadan.me" target="_blank">Said Maadan</a> --><br> Made with <i class='fa fa-heart '></i> at <a href = "http://inventivelabs.co" target="_blank">Inventive Labs</a></p>
  		</div>
	  </div>
  </div>
</div>


